/*======================CSS RESET======================*/
* {
	position: relative;
	margin: 0;
	padding: 0;
	text-decoration: none;
	/* font-size: 16px; */
	font-family: "Courier New";
	color: black;
}
*,
*::before,
*::after {
	box-sizing: border-box; /*box-sizing: content-box; is used by default*/
}
img,
label,
span {
	display: block;
}
a {
	display: inline-block;
}
img {
	object-fit: contain;
}
li {
	list-style-type: none;
}

@font-face {
	font-family: "Roboto Flex";
	src: url(../fonts/RobotoFlex\ GRAD\,XOPQ\,XTRA\,YOPQ\,YTAS\,YTDE\,YTFI\,YTLC\,YTUC\,opsz\,slnt\,wdth\,wght.ttf);
}

:root {
	--bgc-1: #1f2937;
	--bgc-2: white;
	--bgc-3: #e5e7eb;
	--bgc-4: #3882f6;

	--fc-1: #f9faf8;
	--fc-2: #e5e7eb;
	--fc-3: #1f2937;

	--btnc-1: #3882f6;

	--bdc-1: 2px solid #3882f6;
	--bdc-2: 2px solid #f9faf8;
}

/*======================STYLES======================*/
* {
	font-family: "Roboto Flex";
}

.wrapper-1 {
	max-width: 1100px;
	margin: 0 auto;
	padding: 0 30px;
}
.wrapper-2 {
	max-width: 1100px;
	margin: 0 auto;
	padding: 80px 30px;
}

.bg-grey-1 {
	background-color: var(--bgc-1);
}
.bg-white {
	background-color: var(--bgc-2);
}
.bg-grey-2 {
	background-color: var(--bgc-3);
}

.blue-btn {
	padding: 10px 40px;

	color: var(--fc-2);
	background-color: var(--btnc-1);

	font-size: 18px;
	font-weight: 700;

	border-radius: 9px;

	cursor: pointer;
}

/*======================HEADER======================*/

.header-section {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 20px 40px;
	flex-wrap: wrap;

	padding: 20px 30px;
}
@media screen and (max-width: 630px) {
	.header-section {
		flex-direction: column;
	}
}
.h-logo {
	height: 40px;
}

.h-links-c {
	display: flex;
	gap: 20px;
	flex-shrink: 0;
}
.h-links-c a {
	color: var(--fc-2);

	font-size: 18px;
}

/*======================MAIN======================*/
/*======================SECTION 1======================*/
.main-section-1 > * {
	flex: 1 0 250px;
}
.main-section-1 {
	display: flex;
	align-items: center;
	gap: 40px;
	flex-wrap: wrap;
}
.m-section1-title-container {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 20px;
}
.m-section1-img-container {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
.m-section1-img {
	width: clamp(250px, 100%, 600px);
}
.m-title-1 {
	color: var(--fc-1);

	font-size: 48px;
}
.m-paragraph-1 {
	color: var(--fc-2);

	font-size: 18px;
}
.m-sign-in-1 {
	border: var(--bdc-1);
}

/*======================SECTION 2======================*/
.m-title-2 {
	color: var(--fc-3);

	font-size: 36px;

	text-align: center;

	margin-bottom: 40px;
}

.m-section2-gallery-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
}

.m-section2-gallery {
	display: flex;
	justify-content: center;
	gap: 40px;
	flex-wrap: wrap;
}

.m-section2-gallery-item {
	width: 200px;

	display: flex;
	flex-direction: column;
}

.m-section2-gallery-img-c {
	display: flex;
	align-items: center;
	justify-content: center;

	border-radius: 10px;

	overflow: hidden;
	aspect-ratio: 1/1;
}
.m-section2-gallery-img {
	width: 100%;
	height: 100%;

	object-fit: cover;
}
.m-section2-gallery-text {
	color: var(--fc-3);

	font-size: 18px;
	font-weight: 200;

	text-align: center;

	margin-top: 20px;
}

/*======================SECTION 3======================*/

.main-section-3 {
	max-width: 980px;

	margin: 0 auto;
	padding: 80px 30px;
}
.main-section-3-quote {
	color: var(--fc-3);

	font-size: 36px;
	font-style: italic;
}
.main-section-3-author {
	color: var(--fc-3);

	font-size: 18px;
	font-weight: 700;

	text-align: right;

	margin-top: 10px;
}

/*======================SECTION 4======================*/
.main-section-4 {
	max-width: 1160px;
}
.main-section-4-blue {
	background-color: var(--bgc-4);

	border-radius: 10px;

	max-width: 1100px;

	margin: 0 auto;
	padding: 40px 30px;
}
.main-section-4-content {
	display: flex;
	justify-content: space-between;
	gap: 20px;
	flex-wrap: wrap;
}
.main-section-4-text-1 {
	color: var(--fc-1);

	font-size: 18px;
	font-weight: 700;

	margin-bottom: 5px;
}
.main-section-4-text-2 {
	color: var(--fc-1);

	font-size: 18px;
	font-weight: 200;
}
.m-sign-in-2 {
	border: var(--bdc-2);
}
/*======================FOOTER======================*/
