.header-mobile {
	background-color: var(--bgc-4);

	display: flex;
	justify-content: space-between;

	height: 50px;
	width: 100%;

	padding: 10px 20px;
}
.header-mobile-menu-btn,
.header-mobile-title-img,
.header-mobile-search-icon {
	display: flex;
	align-items: center;
	justify-content: center;

	height: 100%;
}
#header-mobile-menu-btn-checkbox {
	position: absolute;
	display: none;
}
.header-mobile-menu-btn-icon {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	height: 100%;
	width: 20px;

	margin: auto 0;

	cursor: pointer;

	/* outline: 1px solid black; */
}

.header-mobile-menu-btn-icon .line {
	position: absolute;

	background-color: var(--ic-3);
	width: 20px;
	height: 2px;

	transition: width 0.2s linear, top 0.2s linear, bottom 0.2s linear, rotate 0.2s linear, background-color 0.2s linear;
}

.header-mobile-menu-btn-icon .line-1 {
	top: 5px;
}
#header-mobile-menu-btn-checkbox:checked + .header-mobile-menu-btn-icon .line-1 {
	width: 27px;
	top: 14px;
	rotate: 45deg;
}
#header-mobile-menu-btn-checkbox:checked + .header-mobile-menu-btn-icon .line-2 {
	width: 0px;
	background-color: transparent;
}

.header-mobile-menu-btn-icon .line-3 {
	bottom: 5px;
}
#header-mobile-menu-btn-checkbox:checked + .header-mobile-menu-btn-icon .line-3 {
	width: 27px;
	bottom: 14px;
	rotate: -45deg;
}

.header-mobile-menu-wrapper {
	background-color: red;

	width: 20px;
	height: 120px;

	position: absolute;

	top: 50px;
	left: 0;
}

.header-mobile-title-img svg {
	width: 200px;
}
.header-mobile-search {
	height: 100%;

	aspect-ratio: 1/1;
}

.header-mobile-search-icon svg {
	height: 80%;
}

/* Phones */
@media screen and (min-width: 480px) {
}
/* Tablets */
/* @media screen and (min-width: 768px) {}  */
/* Larger tablets */
/* @media screen and (min-width: 1024px) {}  */
/* Up to FHD monitors */
/* @media screen and (min-width: 1920px) {}  */
/* Up to 8k monitors */
/* @media screen and (min-width: 7680px) {}  */
