#header-mobile-menu-btn-checkbox {
	position: absolute;
	display: none;
}
.header-mobile-menu-wrapper {
	background-color: var(--bgc-4);

	width: 100%;
	height: calc(100vh - 50px);

	transform: translateY(-100%) translateY(50px);

	position: absolute;
	left: 0;

	transition: transform 0.2s ease;

	display: flex;
	justify-content: space-between;
	flex-direction: column;

	overflow: hidden;
}
.header-mobile-menu {
	background-color: var(--bgc-4);

	display: flex;
	flex-direction: column;

	padding: 12px 24px;

	user-select: none;
}
.header-mobile-menu-links {
	padding: 10px 0;

	font-size: 1.125rem;
	color: var(--fc-3);
}
.header-mobile-menu-nav-toggle {
	display: none;
	z-index: 15;
}
.header-mobile-menu-links-nav {
	display: flex;
	align-items: center;
	justify-content: space-between;

	cursor: pointer;
}
.header-mobile-menu-links-nav-page {
	background-color: var(--bgc-4);

	position: absolute;
	top: 0;
	transform: translateX(100%);

	width: 100%;
	height: calc(100vh - 50px);

	padding: 12px 0 0 0;

	overflow-y: scroll;

	transition: transform 0.2s ease;

	z-index: 10;
}
.header-mobile-menu-links-nav-page-content {
	padding: 12px 24px;
}

#header-mobile-menu-nav-toggle-1:checked ~ .header-mobile-menu-links-nav-page-1,
#header-mobile-menu-nav-toggle-2:checked ~ .header-mobile-menu-links-nav-page-2,
#header-mobile-menu-nav-toggle-3:checked ~ .header-mobile-menu-links-nav-page-3,
#header-mobile-menu-nav-toggle-4:checked ~ .header-mobile-menu-links-nav-page-4,
#header-mobile-menu-nav-toggle-5:checked ~ .header-mobile-menu-links-nav-page-5 {
	transform: translateX(-24px);
}

.header-mobile-menu-links-nav svg {
	height: 28px;
	flex-shrink: 0;
	transition: transform 0.2s ease;
}
.header-mobile-menu-links-nav:hover svg {
	transform: translateX(2px);
}

.header-menu-links-nav-page-back {
	color: var(--fc-3);

	display: inline-flex;
	align-items: center;
	justify-content: center;

	margin-left: 4px;
	padding: 4px 5px 4px 0;

	cursor: pointer;
}

.header-menu-links-nav-page-back svg {
	height: 20px;
	flex-shrink: 0;
	rotate: 180deg;
	transition: transform 0.2s ease;
}
.header-menu-links-nav-page-back:hover svg {
	transform: translateX(1px);
}

.header-mobile-menu-appstore {
	background-color: var(--bgc-1);

	border-top: var(--border-1);
	box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px;

	height: 150px;
	width: 100%;

	padding: 24px;

	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 30px;
}
.header-mobile-menu-appstore h5 {
	font-size: 1rem;
	font-weight: 500;

	color: var(--fc-6);
}
.header-mobile-menu-appstore-links {
	display: flex;
	gap: 10px;
}
.header-mobile-menu-appstore-links a {
	text-decoration: none;
}
.header-mobile-menu-appstore-links svg {
	height: 36px;
}
#header-mobile-menu-btn-checkbox:checked ~ .header-mobile-menu-wrapper {
	transform: translateY(50px);
}

.header-mobile {
	background-color: var(--bgc-4);

	display: flex;
	justify-content: space-between;

	height: 50px;
	width: 100%;

	padding: 10px 20px;

	border-bottom: var(--border-1);
	box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px;
}
.header-mobile-menu-btn-icon,
.header-mobile-title-img,
.header-mobile-search-icon {
	display: flex;
	align-items: center;
	justify-content: center;

	height: 100%;

	z-index: 10;
}

.header-mobile-menu-btn-icon {
	flex-direction: column;

	height: 100%;
	width: 20px;

	margin: auto 0;

	cursor: pointer;

	/* outline: 1px solid black; */
}

.header-mobile-menu-btn-icon .line {
	position: absolute;

	background-color: var(--ic-3);
	width: 20px;
	height: 2px;

	transition: width 0.2s linear, top 0.2s linear, bottom 0.2s linear, rotate 0.2s linear, background-color 0.2s linear;
}

.header-mobile-menu-btn-icon .line-1 {
	top: 9px;
}
#header-mobile-menu-btn-checkbox:checked ~ .header-mobile .header-mobile-menu-btn-icon .line-1 {
	width: 27px;
	top: 14px;
	rotate: 45deg;
}
#header-mobile-menu-btn-checkbox:checked ~ .header-mobile .header-mobile-menu-btn-icon .line-2 {
	width: 0px;
	background-color: transparent;
}

.header-mobile-menu-btn-icon .line-3 {
	bottom: 9px;
}
#header-mobile-menu-btn-checkbox:checked ~ .header-mobile .header-mobile-menu-btn-icon .line-3 {
	width: 27px;
	bottom: 14px;
	rotate: -45deg;
}

.header-mobile-title-img svg {
	width: 200px;
}
.header-mobile-search {
	height: 100%;

	aspect-ratio: 1/1;
}

.header-mobile-search-icon svg {
	height: 80%;
}

/* Phones */
@media screen and (min-width: 480px) {
}
/* Tablets */
/* @media screen and (min-width: 768px) {}  */
/* Larger tablets */
/* @media screen and (min-width: 1024px) {}  */
/* Up to FHD monitors */
/* @media screen and (min-width: 1920px) {}  */
/* Up to 8k monitors */
/* @media screen and (min-width: 7680px) {}  */
