#header-mobile-menu-btn-checkbox {
	position: absolute;
	display: none;
}
.header-mobile-menu-wrapper {
	background-color: var(--bgc-4);

	width: 100%;
	height: calc(100vh - 50px);

	transform: translateY(-100%) translateY(50px);

	position: absolute;
	left: 0;

	transition: transform 0.2s ease;

	display: none;
	justify-content: space-between;
	flex-direction: column;

	overflow: hidden;
}
.header-mobile-menu {
	background-color: var(--bgc-4);

	display: flex;
	flex-direction: column;

	padding: 12px 24px;

	user-select: none;
}
.header-mobile-menu-links {
	padding: 10px 0;

	font-size: 1.125rem;
	color: var(--fc-3);
}
.header-mobile-menu-nav-toggle {
	display: none;
	z-index: 15;
}
.header-mobile-menu-links-nav {
	display: flex;
	align-items: center;
	justify-content: space-between;

	cursor: pointer;
}
.header-mobile-menu-links-nav-page {
	background-color: var(--bgc-4);
	box-shadow: 5px 0px 15px 0px rgba(0, 0, 0, 0.45);

	position: absolute;
	top: 0;
	transform: translateX(100%);

	width: 100%;
	height: calc(100vh - 50px);

	padding: 12px 0 0 0;

	overflow-y: scroll;

	transition: transform 0.3s ease-in-out;

	z-index: 10;
}
.header-mobile-menu-links-nav-page-border-1 {
	width: 100%;

	margin: 24px 0;

	border-bottom: var(--border-5);
}

.header-mobile-menu-links-nav-page-1-services-wrapper {
	display: flex;
	align-items: start;
	flex-direction: column;
	gap: 10px;
}
.header-mobile-menu-links-nav-page-1-services-wrapper .btn-orange-1 {
	height: 48px;
	width: 100%;

	margin-top: 8px;
}
.header-mobile-menu-links-nav-page-1-service {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	gap: 18px;
}
.header-mobile-menu-links-nav-page-1-service svg {
	width: 26px;
	flex-shrink: 0;
}

#header-mobile-menu-nav-toggle-1:checked ~ .header-mobile-menu-links-nav-page-1,
#header-mobile-menu-nav-toggle-2:checked ~ .header-mobile-menu-links-nav-page-2,
#header-mobile-menu-nav-toggle-3:checked ~ .header-mobile-menu-links-nav-page-3,
#header-mobile-menu-nav-toggle-4:checked ~ .header-mobile-menu-links-nav-page-4,
#header-mobile-menu-nav-toggle-5:checked ~ .header-mobile-menu-links-nav-page-5 {
	transform: translateX(-24px);
}

.header-mobile-menu-links-nav-page-content {
	padding: 14px 24px 160px 24px;
}
.header-mobile-menu-links-nav-page-title {
	color: var(--fc-6);

	font-size: 1rem;
	font-weight: 500;

	padding: 12px 0;
}
.header-mobile-menu-links-nav-page-title-bold {
	font-weight: 600;
	padding: 0 0 12px;
}
.header-mobile-menu-links-nav-page-links {
	display: flex;
	flex-direction: column;
}
.header-mobile-menu-links-nav-page-link {
	display: flex;
	align-items: center;

	color: var(--fc-7);
	font-size: 0.875rem;
	font-weight: 500;

	padding: 11px 0;
}
.header-mobile-menu-links-nav-page-link:hover {
	color: var(--fc-hover-7_1);
}
.header-mobile-menu-links-nav-page-link-spec {
	color: var(--fc-3);

	padding: 14px 0;
}
.header-mobile-menu-links-nav-page-link-spec:hover {
	color: var(--fc-3);
}
.header-mobile-menu-links-nav-page-link-spec-2 {
	color: var(--fc-3);
	font-size: 0.875rem;
	font-weight: 500;

	padding: 14px 0;
}
.header-mobile-menu-links-nav-page-link-spec-2:hover {
	color: var(--fc-3);
}
.header-mobile-menu-links-nav-page-border-2 {
	width: 100%;

	margin: 12px 0 0 0;

	border-bottom: var(--border-5);
}
.header-mobile-menu-links-nav-page-bottom-title {
	color: var(--fc-6);
	font-size: 1.125rem;
	font-weight: 500;

	margin: 40px 0 24px 0;
}

.header-mobile-menu-links-nav svg {
	height: 28px;
	flex-shrink: 0;
	transition: transform 0.2s ease;
}
.header-mobile-menu-links-nav:hover svg {
	transform: translateX(2px);
}

.header-menu-links-nav-page-back {
	color: var(--fc-3);
	font-size: 0.875rem;
	font-weight: 500;

	display: inline-flex;
	align-items: center;
	justify-content: center;

	margin-left: 4px;
	padding: 4px 5px 4px 0;

	cursor: pointer;
}

.header-menu-links-nav-page-back svg {
	height: 20px;
	flex-shrink: 0;
	rotate: 180deg;
	transition: transform 0.2s ease;
}
.header-menu-links-nav-page-back:hover svg {
	transform: translateX(1px);
}

.header-mobile-menu-appstore {
	background-color: var(--bgc-1);

	border-top: var(--border-1);
	box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px;

	min-height: 150px;
	width: 100%;

	padding: 24px;

	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 30px;
}
.header-mobile-menu-appstore h5 {
	font-size: 1rem;
	font-weight: 500;
	text-align: center;
	text-wrap: pretty;

	color: var(--fc-6);
}
.header-mobile-menu-appstore-links {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	flex-wrap: wrap;
}
.header-mobile-menu-appstore-links a {
	text-decoration: none;
}
.header-mobile-menu-appstore-links svg {
	height: 36px;
}
#header-mobile-menu-btn-checkbox:checked ~ .header-mobile-menu-wrapper {
	transform: translateY(50px);
}

.header-mobile {
	background-color: var(--bgc-4);

	display: none;
	justify-content: space-between;

	height: 50px;
	width: 100%;

	padding: 10px 20px;

	border-bottom: var(--border-1);
	box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px;

	overflow: hidden;
}
.header-mobile-menu-btn,
.header-mobile-title-img,
.header-mobile-search-icon {
	display: flex;
	align-items: center;
	justify-content: center;

	height: 100%;

	z-index: 10;
}

.header-mobile-menu-btn {
	flex-direction: column;
	flex-shrink: 0;

	height: 100%;

	margin: auto 0;

	cursor: pointer;

	/* outline: 1px solid black; */

	aspect-ratio: 1/1;
}
.header-mobile-menu-btn-lines {
	height: 12px;
	width: 100%;

	display: flex;
	align-items: center;
	justify-content: center;

	/* border: 1px solid black; */

	/* aspect-ratio: 1/1; */

	transition: height 0.3s ease-in-out;
}
#header-mobile-menu-btn-checkbox:checked ~ .header-mobile .header-mobile-menu-btn-lines {
	height: 20px;
}
.header-mobile-menu-btn-line {
	position: absolute;

	background-color: var(--ic-3);
	width: 20px;
	height: 2px;

	transition: width 0.3s ease, top 0.3s ease, bottom 0.3s ease, rotate 0.3s ease, background-color 0.3s ease;
}

.header-mobile-menu-btn-lines .line-1 {
	top: 0;
}
#header-mobile-menu-btn-checkbox:checked ~ .header-mobile .header-mobile-menu-btn-lines .line-1 {
	width: 27px;
	top: calc(50% - 1px);
	rotate: 45deg;
}
#header-mobile-menu-btn-checkbox:checked ~ .header-mobile .header-mobile-menu-btn-lines .line-2 {
	width: 0px;
	background-color: transparent;
}

.header-mobile-menu-btn-lines .line-3 {
	bottom: 0px;
}
#header-mobile-menu-btn-checkbox:checked ~ .header-mobile .header-mobile-menu-btn-lines .line-3 {
	width: 27px;
	bottom: calc(50% - 1px);
	rotate: -45deg;
}
.header-mobile-title-img {
	padding: 0 10px 0 22px;
}
.header-mobile-title-img svg {
	width: 200px;
}
.header-mobile-search {
	height: 100%;

	aspect-ratio: 1/1;
}

.header-mobile-search-icon svg {
	height: 80%;
}
.header-desktop {
	background-color: var(--bgc-1);
	border: var(--border-5);

	height: 70px;
	width: 100%;

	display: flex;
	justify-content: space-between;

	padding: 17px 40px 10px 40px;
}

.header-desktop-title-img {
	display: flex;
	align-items: center;
	justify-content: center;
}

.header-desktop-title-img svg {
	width: 320px;
}

.header-desktop-title-img,
.header-desktop-links-wrapper,
.header-desktop-link,
.header-desktop-search,
.header-desktop-categories-toggle-btn {
	height: 100%;
}

.header-desktop-links-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;

	gap: 10px;
}
.header-desktop-categories-checkbox {
	display: none;
}
.header-desktop-link {
	color: var(--fc-8);

	display: flex;
	align-items: center;
	justify-content: center;

	padding: 0 10px;

	border-radius: 8px;

	cursor: pointer;

	transition: background-color 0.2s ease-in-out;
}
.header-desktop-link:hover {
	background-color: #e0e0e0;
}
.header-desktop-link.link-1:hover > .header-desktop-dropdown-page.page-1 {
	display: flex;
}
.header-desktop-link.link-1:hover > .header-desktop-dropdown-page-pointer.pointer-1,
.header-desktop-link.link-1:hover > .header-desktop-dropdown-page-pointer-mask.mask-1 {
	display: block;
}

.header-desktop-search {
	display: flex;
	align-items: center;
	justify-content: center;

	width: 270px;
	height: calc(100% - 2px);

	margin: 20px 0;
	padding: 0 10px;

	border: 0;
	outline: var(--border-5);
	border-radius: 8px;
}
.header-desktop-search:focus {
	outline: var(--border-9);
}
.header-desktop-search::placeholder {
	color: #ccc;
	font-size: 0.875rem;
}
.header-desktop-categories-toggle-btn-unclickable {
	height: 40px;
	width: 40px;

	display: flex;
	align-items: center;
	justify-content: center;

	user-select: none;

	aspect-ratio: 1/1;
}
.header-desktop-categories-toggle-btn {
	display: flex;
	align-items: center;
	justify-content: center;

	padding: 10px;

	border-radius: 8px;

	cursor: pointer;

	aspect-ratio: 1/1;

	transition: background-color 0.3s ease-in-out;
}
#header-desktop-categories-checkbox:checked ~ .header-desktop-categories-toggle-btn-unclickable .header-desktop-categories-toggle-btn {
	background-color: #e0e0e0;
}

.header-desktop-categories-lines {
	height: 100%;

	display: flex;
	align-items: center;
	justify-content: center;

	/* border: 1px solid black; */

	aspect-ratio: 1/1;
}

.header-desktop-categories-line {
	background-color: var(--fc-8);

	position: absolute;

	width: 4px;
	height: 4px;

	border-radius: 4px;

	transition: width 0.3s ease, height 0.2s ease, top 0.3s ease, bottom 0.3s ease, rotate 0.3s ease, background-color 0.3s ease, border-radius 0.3s ease;
}

.header-desktop-categories-lines .line-1 {
	top: 0;
}
#header-desktop-categories-checkbox:checked ~ .header-desktop-categories-toggle-btn-unclickable .line-1 {
	width: 29px;
	height: 2px;

	top: calc(50% - 1px);

	rotate: 45deg;

	border-radius: 2px;
}

#header-desktop-categories-checkbox:checked ~ .header-desktop-categories-toggle-btn-unclickable .line-2 {
	background-color: transparent;

	border-radius: 2px;
}
.header-desktop-categories-lines .line-3 {
	bottom: 0;
}
#header-desktop-categories-checkbox:checked ~ .header-desktop-categories-toggle-btn-unclickable .line-3 {
	width: 29px;
	height: 2px;

	bottom: calc(50% - 1px);

	rotate: -45deg;

	border-radius: 2px;
}
#header-desktop-categories-checkbox:checked ~ .header-desktop-categories-toggle-btn-unclickable .header-desktop-dropdown-page-pointer.pointer-2,
#header-desktop-categories-checkbox:checked ~ .header-desktop-categories-toggle-btn-unclickable .header-desktop-dropdown-page-pointer-mask.mask-2 {
	display: block;
}

.header-desktop-dropdown-page-pointer {
	display: none;

	position: absolute;
	top: calc(100% + 12px);

	rotate: 45deg;

	background-color: var(--bgc-4);
	box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 24px 0px;

	width: 50px;
	height: 50px;

	z-index: 9;
}
.header-desktop-dropdown-page-pointer-mask {
	display: none;

	position: absolute;
	top: calc(100% + 12px);

	rotate: 45deg;

	background-color: var(--bgc-4);

	width: 50px;
	height: 50px;

	z-index: 15;
}
.header-desktop-dropdown-page {
	display: none;

	position: absolute;
	top: calc(100% + 20px);

	background-color: var(--bgc-4);
	box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 24px 0px;
	border-radius: 8px;

	width: 1000px;
	height: 630px;
	z-index: 10;
}

#header-desktop-categories-checkbox:checked ~ .header-desktop-categories-toggle-btn-unclickable .header-desktop-dropdown-page.page-2 {
	display: flex;
}
.header-desktop-dropdown-page.page-2 {
	transform: translateX(-450px);
}

/* Phones */
@media screen and (max-width: 481px) {
}
/* Tablets */
/* @media screen and (max-width: 769px) {}  */
/* Larger tablets */
/* @media screen and (max-width: 1025px) {}  */
@media screen and (max-width: 1236px) {
	.header-mobile-menu-wrapper,
	.header-mobile {
		display: flex;
	}
	.header-desktop {
		display: none;
	}
}
/* Up to FHD monitors */
/* @media screen and (max-width: 1921px) {}  */
/* Up to 8k monitors */
/* @media screen and (max-width: 7681px) {}  */
